<h1 mat-dialog-title>Create new Task</h1>
<div mat-dialog-content>

  <div class="full-width">

    <mat-form-field appearance="outline">
      <mat-label>Estimated Date mm/dd/yyyy</mat-label>
      <input matInput [matDatepicker]="estimated" [(ngModel)]="newTask.estimated">
      <mat-datepicker-toggle matSuffix [for]="estimated"></mat-datepicker-toggle>
      <mat-datepicker #estimated></mat-datepicker>
    </mat-form-field>

  </div>

  <div class="full-width no-resize">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Task Description</mat-label>
      <textarea matInput rows="7" [(ngModel)]="newTask.description"></textarea>
    </mat-form-field>
  </div>

  <div class="full-width">
    <mat-form-field appearance="outline">
      <mat-label>Select task Type</mat-label>
      <mat-select [(ngModel)]="newTask.taskType">
        <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
          {{taskType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onAbort()">Close</button>
  <button mat-button [mat-dialog-close]="newTask" (submit)="newTask" [disabled]="newTask.description == '' || newTask.taskType.label == null ">Save</button>
</div>
