
.example-icon{
  padding: 0 14px;
}
.example-spacer{
    flex: 1 1 auto;
}
.mat-tab-label,
.mat-tab-link{
  color: #fff;
}
.mat-tab-link{
  font-size: 16px;
  align-items: flex-end;
}
.mat-tab-header{
  align-self: flex-end;
}

.mat-tab-label-active{
  opacity: 1;
}
