<div class="tab-content-container">
  <div style="padding: 10px">
    <mat-accordion class="example-headers-align">

      <div (ngModel)="tasks" *ngFor="let task of tasks" >
        <!-- header of task-->
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="task-creator">{{task.creator.fname}}<br/>{{task.creator.lname}}</span>
            </mat-panel-title>

            <mat-panel-description>{{task.description}}</mat-panel-description>

            <!-- TODO if panel is expanded hide chips and show items in inner area -->
            <mat-chip-list>
              <mat-chip class="chip-data-info" color="accent" selected>{{task.status.value}}</mat-chip>
              <mat-chip class="chip-data-info" color="warn" selected>{{task.executor.fname}} {{task.creator.lname}}</mat-chip>
              <mat-chip class="chip-data-info" color="primary" selected>{{task.taskType.value}}</mat-chip>
             </mat-chip-list>
             <mat-icon class="panel-header-icon">import_export</mat-icon>
          </mat-expansion-panel-header>
        <!-- END header of task-->

<!--         Inner content of task-->
          <div class="full-width">
            <div class="align-right">
              <button mat-raised-button color="warn" aria-label="Edit Task">
                <mat-icon>edit</mat-icon><span style="padding-left: 1em;">Edit Task</span>
              </button>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Created Date</mat-label>
              <input [disabled]="editedBy" matInput [matDatepicker]="createdAt" [value]="task.createdAt">
              <mat-datepicker-toggle matSuffix [for]="createdAt"></mat-datepicker-toggle>
              <mat-datepicker #createdAt></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Created Date</mat-label>
              <input [disabled]="editedBy" matInput [matDatepicker]="estimated" [value]="task.estimated">
              <mat-datepicker-toggle matSuffix [for]="estimated"></mat-datepicker-toggle>
              <mat-datepicker #estimated></mat-datepicker>
            </mat-form-field>

            <span style="margin: 0 20px;">Selected Status - {{task.status.value}}</span>
            <!-- TODO think about when load statuses
            <mat-form-field>
              <mat-label>Favorite food</mat-label>
              <mat-select [(value)]="task.status.value">
                <mat-option *ngFor="let status of statuses" [value]="statuses">
                  {{status.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>-->

          </div>

          <div class="full-width no-resize">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Task Description</mat-label>
              <textarea matInput rows="7" [value]="task.description"></textarea>
            </mat-form-field>
          </div>
          <!--  End Inner content of task-->

          <!-- Action Btns -->
              <mat-action-row>
                <button mat-button color="warn" *ngIf="editedBy" (click)="saveEditedTask()">Complete</button>
                <button mat-button color="warn" (click)="completeTask()">Complete</button>
                <button mat-button color="primary" (click)="commentTask()">Comment</button>
              </mat-action-row>
        <!-- End Inner content of task-->

        </mat-expansion-panel>
      </div>


    </mat-accordion>
  </div>

</div>
